<div class='mt-5 bg-white shadow rounded p-4'>
  <h1 class='h2 bg font-weight-bold text-center mb-4'>My Shop</h1>
  <% if (@allItem.empty?)%>
    <h1>No Item</h1>
  <%else%>
    <table class='table'>
      <thead class='bg-secondary text-white'>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Picture</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Stock</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @allItem.each do |item| %>
          <tr class="">
            <th scope="row">
              <%= item.id %>
            </th>
            <td>
              <% if(item.picture.attached?)%>
                <%= image_tag item.picture.variant(:thumb) %>
              <% else %>
                <p>No Picture</p>
              <% end %>
            </td>
            <td>
              <%= item.name %>
            </td>
            <td>
              <%= item.price %>
            </td>
            <td>
              <%= item.stock %>
            </td>
            <td>
              <div class='d-flex'>
                <%= link_to 'Edit', edit_item_path(item.id), class: 'btn btn-secondary'  %>
                <%= button_to 'Delete', item, method: :delete ,class:'btn btn-danger'%>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <%end%>
  <%= link_to 'Add new product' , new_item_path , class: 'btn btn-secondary text-decoration-none' %>
  <%= link_to 'Check my inventory' , main_inventory_path , class: 'btn btn-secondary text-decoration-none' %>
</div>
